{% extends 'portal.html'%}
{% load static%}
{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h4>Menu</h4>
        <ul>
            <li><a href="#"><i class="fa-solid fa-qrcode"></i>Dashboard</a></li>
            <li><a href="#"><i class="fa-solid fa-pen-to-square"></i>Tickets</a></li>
            <li><a href="#"><i class="fa-solid fa-user"></i>My Account</a></li>
            <li><a href="#"><i class="fa-solid fa-lock"></i>Change Password</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">CHANGE PASSWORD</div>
        <form method="POST" class="register-form" id="change_password">
            <div class="info">
                <div class="form-group">
                    <label for="pass"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" name="pass" id="pass" placeholder="Current Password" />
                </div>
                <div class="form-group">
                    <label for="pass"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" name="pass" id="pass" placeholder=" New Password" />
                </div>
                <div class="form-group">
                    <label for="re-pass"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" name="re_pass" id="re_pass" placeholder="Repeat new password" />
                </div>

                <div class="form-group form-button">
                    <input type="submit" name="change_password" id="change_password" class="form-submit"
                        value="Change Password" />
                </div>

            </div>
        </form>
    </div>

    {% endblock content %}