{% extends 'portal.html'%}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h4>Menu</h4>
        <ul>
            <li><a href="{% url 'officer-dashboard'%}"><i class="fa-solid fa-qrcode"></i>Dashboard</a></li>
            <li><a href="{% url 'officer-tickets'%}"><i class="fa-solid fa-pen-to-square"></i>Tickets</a></li>
            <li><a href="{% url 'officer-account'%}"><i class="fa-solid fa-user"></i>My Account</a></li>
            <li><a href="{% url 'officer-change-password'%}"><i class="fa-solid fa-lock"></i>Change Password</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">CLOSE TICKET</div>
        <div class="view_ticket">

            <div class="user-details">
                <img src="/static/user.png">
                <h4> Author: {{tickets.created_by.user.first_name}} {{tickets.created_by.user.last_name}}<br>{{tickets.created_by.user.username}}</h4>
            </div>

            <span>{{ tickets.ticket_name}}</span>
            <p><span>Ticket Status:</span> {{tickets.ticket_status}}</p>
            <p><span>Created at:</span> {{tickets.created_at}}</p>
            <p>{{ tickets.ticket_description}}</p>

        </div>
        <div class="form-group form-button">
            <form action="" method="post" >
                {% csrf_token %}
                <input type="hidden" value="Closed" />
                <input type="submit" name="close" id="signup" class="form-submit" value="Close Ticket" />
                

            </form>
            
        </div>
    </div>
</div>
{% endblock content %}