{% extends 'portal.html'%}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h4>Menu</h4>
        <ul>
            <li><a href="{% url 'officer-dashboard'%}"><i class="fa-solid fa-qrcode"></i>Dashboard</a></li>
            <li><a href="{% url 'officer-tickets'%}"><i class="fa-solid fa-pen-to-square"></i>Tickets</a></li>
            <li><a href="{% url 'officer-account'%}"><i class="fa-solid fa-user"></i>My Account</a></li>
            <li><a href="{% url 'officer-change-password'%}"><i class="fa-solid fa-lock"></i>Change Password</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">DASHBOARD</div>
        <div class="ticket-stat">
            <div>
                <span>Total tickets</span>
                <p>{{ ticket_count }}</p>
            </div>
            <div>
                <span>Open Tickets</span>
                <p>{{ open_tickets }}</p>
            </div>
            <div>
                <span>Closed Tickets</span>
                <p>{{ closed_tickets }}</p>
            </div>
            <div>
                <span>Ticket Resolution</span>
                <p>{{ ticket_resolution }} %</p>
            </div>
        </div>
    </div>

    {% endblock content %}