{% extends 'portal.html'%}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h4>Menu</h4>
        <ul>
            <li><a href="{% url 'officer-dashboard'%}"><i class="fa-solid fa-qrcode"></i>Dashboard</a></li>
            <li><a href="{% url 'officer-tickets'%}"><i class="fa-solid fa-pen-to-square"></i>Tickets</a></li>
            <li><a href="{% url 'officer-account'%}"><i class="fa-solid fa-user"></i>My Account</a></li>
            <li><a href="{% url 'officer-change-password'%}"><i class="fa-solid fa-lock"></i>Change Password</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">MY ACCOUNT</div>
        <div class="view_ticket">

            <div class="user-details">
                <img src="/static/user.png">
                {% for officer in officers %}
                {% if officer.user  == request.user %}
                <h4>{{ officer.user.first_name}} {{officer.user.last_name}}</h4>
                
            </div>

            <span></span>
            <p><span>Username :</span>{{officer.user.username}} </p>
            <p><span>Email:</span>{{ officer.user.email}}</p>
            <p><span>Phone Number:</span>{{ officer.phone_number}}</p>
            {%endif%}
            {%endfor%}
    
        </div>
        

{% endblock content %}