{% extends 'portal.html'%}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h4>Menu</h4>
        <ul>
            <li><a href="{% url 'officer-dashboard'%}"><i class="fa-solid fa-qrcode"></i>Dashboard</a></li>
            <li><a href="{% url 'officer-tickets'%}"><i class="fa-solid fa-pen-to-square"></i>Tickets</a></li>
            <li><a href="{% url 'officer-account'%}"><i class="fa-solid fa-user"></i>My Account</a></li>
            <li><a href="{% url 'officer-change-password'%}"><i class="fa-solid fa-lock"></i>Change Password</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">TICKETS</div>
        <div class="table">
            <div class="table_section">
                <table> 
                    <thead>
                        <tr>
                            <th>Ticket ID</th>
                            <th>Ticket Name</th>
                            <th>Ticket Type</th>
                            <th>Ticket Description</th>
                            <th>Ticket Status</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0001</td>
                            <td>Remarking</td>
                            <td>High</td>
                            <td>I would like remarking of my COMP 473 exam</td>
                            <td>Open</td>
                            <td>Damaris</td>
                            <td>
                                <button>View</button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>Remarking</td>
                            <td>High</td>
                            <td>I would like remarking of my COMP 473 exam</td>
                            <td>Open</td>
                            <td>Damaris</td>
                            <td>
                                <button>View</button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>Remarking</td>
                            <td>High</td>
                            <td>I would like remarking of my COMP 473 exam</td>
                            <td>Open</td>
                            <td>Damaris</td>
                            <td>
                                <button>View</button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>Remarking</td>
                            <td>High</td>
                            <td>I would like remarking of my COMP 473 exam</td>
                            <td>Open</td>
                            <td>Damaris</td>
                            <td>
                                <button>View</button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>Remarking</td>
                            <td>High</td>
                            <td>I would like remarking of my COMP 473 exam</td>
                            <td>Open</td>
                            <td>Damaris</td>
                            <td>
                                <button>View</button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>Remarking</td>
                            <td>High</td>
                            <td>I would like remarking of my COMP 473 exam</td>
                            <td>Open</td>
                            <td>Damaris</td>
                            <td>
                                <button>View</button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <div><i class="fa-solid fa-angle-left"></i></div>
                <div><i class="fa-solid fa-chevron-left"></i></div>
                <div>1</div>
                <div>2</div>
                <div><i class="fa-solid fa-angle-right"></i></div>
                <div><i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}