{% extends 'portal.html'%}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h4>Menu</h4>
        <ul>
            <li><a href="{% url 'admin-dashboard' %}"><i class="fa-solid fa-qrcode"></i>Dashboard</a></li>
            <li><a href="{% url 'ticket-report' %}"><i class="fa-solid fa-pen-to-square"></i>Ticket Report</a></li>
            <li><a href="{% url 'student-report' %}"><i class="fa-solid fa-pen-to-square"></i>Student Report</a></li>
            <li><a href="{% url 'officers-list' %}"><i class="fa-solid fa-pen-to-square"></i>Officer Report</a></li>
            <li><a href="{% url 'admin-change-password' %}"><i class="fa-solid fa-lock"></i>Change Password</a></li>
            <li><a href="{% url 'create-officer-account' %}"><i class="fa-solid fa-user"></i>Create Officer Account</a></li>

        </ul>
    </div>
    <div class="main_content">
        <div class="header">DASHBOARD</div>
        <div class="ticket-stat">
            <div>
                <span>Total tickets</span>
                <p>10</p>
            </div>
            <div>
                <span>Open Tickets</span>
                <p>5</p>
            </div>
            <div>
                <span>Closed Tickets</span>
                <p>5</p>
            </div>
            <div>
                <span>Ticket Resolution</span>
                <p>50%</p>
            </div>
        </div>
        <div class="dashboard-button">
            <button class="btn grn-btn"><a href="{% url 'graph' %}" style="color: #fff;">View Report</a></button>
        </div>
    </div>

    {% endblock content %}