{% extends 'base.html'%}
{%load static%}

{% block content%}
<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About us</h1>
            </div>
            <div class="content">
                <h3>About Help Desk Ticketing System</h3>
                <p>A ticket element, within a ticket tracking system , is a running report on a particular problem,
                    its status, and other relevant data.They are commonly created in a help desk or call center
                    environment and almost always have a unique number which is used to allow the user or
                    help staff to quickly locate, add to or communicate the status of the user’s ticket or request

                    These tickets are so called because of their origin as small cards within a traditional wall
                    mounted work planning system when this kind of support started.Operators or staff receiving
                    a call or query from a user would fill out a small card with the user’s details and a brief summary
                    of the request and place it into a position (usually the last) in a column of pending slots for an
                    appropriate engineer, so dertimining the staff member who would deal with the query and the
                    priority of the request.

                    A help desk ticketing system is software that keeps track of students issues so your support team
                    can resolve them in a timely manner. It gives a students the everyday tools they need to do their job
                    well, from answering tickets to collaborating with other team members.
                    Ideally, your help desk should be the center of your support team — the command center, if you will.
                    It gives your team the tools they need to do their jobs well, from answering tickets to
                    collaborating with other team members, so you have nothing but satisfied customers
                </p>
            </div>
        </div>
        <div class="image-section">
            <img src="/static/78594752.jpg" alt="helpdesk">
        </div>
    </div>

</div>
{% endblock content%}