{% extends 'base.html'%}
{%load static%}

{% block content%}
<div style="display: flex;">
    <div style="width: 450px; margin: 100px auto; border-radius: 7px; background-color: #f8f8f8;" class="help-box">

        <p style="background-color: teal; color: white; font-weight: 800; border-radius: 7px 7px 0px 0px; padding: 10px; text-align: center;"
            class="heading">FAQS</p>
        <div style=" padding: 0px 20px 20px;" class="faqs">
            <details
                style="background: white; padding: 10px 20px; border-radius: 10px; margin-top: 20px; font-size: 15px; letter-spacing: 1px;">
                <summary style="outline: none;">How do I sign in?</summary>
                <p style=" font-weight: 700;" class="text">- For signing in you must register an account first if you do not have an account then sign in with your username and password.</p>
            </details>
            <details
                style="background: white; padding: 10px 20px; border-radius: 10px; margin-top: 20px; font-size: 15px; letter-spacing: 1px;">
                <summary style="outline: none;">How do I raise a ticket?</summary>
                <p style=" font-weight: 700;"class="text">- First sign in into your account, then on the left there is a menu. <br>- Click on the Raise Ticket. <br>- Enter your registration number, ticket name, ticket priority and a ticket description then press the raise ticket button.</p>
            </details>
            <details
                style="background: white; padding: 10px 20px; border-radius: 10px; margin-top: 20px; font-size: 15px; letter-spacing: 1px;">
                <summary style="outline: none;">How do I track a ticket?</summary>
                <p style=" font-weight: 700;" class="text">- Once you have raised a ticket our officer will be notified via email and once your issue is solved, that is, the ticket is closed you will recieve an emiail</p>
            </details>
            <details
                style="background: white; padding: 10px 20px; border-radius: 10px; margin-top: 20px; font-size: 15px; letter-spacing: 1px;">
                <summary style="outline: none;">How do I delete a ticket?</summary>
                <p style=" font-weight: 700;" class="text">- After logging in on the menu go to My Tickets then click on view ticket button.<br>- This will lead you to a page with your ticket details.<br> - At the bottom of the page there is a delete ticket click on it. <br>- This pops up a dialogue that asks you if you are sure you want to 
                    delete the ticket. <br>- If yes click on 'Yes I'm sure' button this will delete the ticket. <p>
            </details>
            <details
                style="background: white; padding: 10px 20px; border-radius: 10px; margin-top: 20px; font-size: 15px; letter-spacing: 1px;">
                <summary style="outline: none;">How do I edit a ticket?</summary>
                <p style=" font-weight: 700;" class="text">- After logging in on the menu go to My Tickets then click on view ticket button.<br>- This will lead you to a page with your ticket details. <br>- At the botom of the page click on update ticket then fill in the fields then click update. <br>- Your ticket will be updated sucessfully.</p>
            </details>
        </div>
        <!-- <h1>Frequently asked questions?</h1>
            <div class="tab">
                <input type="radio" name="acc" id="acc1">
                <label for="acc1">
                    <h2>01</h2>
                    <h3>How do I sign in?</h3>
                </label>
                <div class="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure fuga deleniti explicabo eius cumque velit reprehenderit</p>
                </div> -->
    </div>

</div>



{%endblock content%}