{% extends 'base.html'%}
{%load static%}

{% block content%}
<div class="service-container">
    <div class="box">
        <h2>01</h2>
        <h3>Service One</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ut aperiam tempora inventore sapiente
            repellendus tempore, asperiores reiciendis ducimus ex rerum iste dignissimos in. Quo aspernatur odit esse et
            officia.
        </p>
    </div>
    <div class="box">
        <h2>02</h2>
        <h3>Service Two</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ut aperiam tempora inventore sapiente
            repellendus tempore, asperiores reiciendis ducimus ex rerum iste dignissimos in. Quo aspernatur odit esse et
            officia.
        </p>
    </div>
    <div class="box">
        <h2>03</h2>
        <h3>Service Three</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ut aperiam tempora inventore sapiente
            repellendus tempore, asperiores reiciendis ducimus ex rerum iste dignissimos in. Quo aspernatur odit esse et
            officia.
        </p>
    </div>
</div>

{% endblock content%}