{% extends 'base.html'%}
{%load static%}

{% block content%}
<div class="service-container">
    <div class="box">
        <h2>01</h2>
        <h3>Service One</h3>
        <p>Lets students raise tickets with ease and track progress.           
        </p>
    </div>
    <div class="box">
        <h2>02</h2>
        <h3>Service Two</h3>
        <p>Monitor Individual Perfomance.
        </p>
    </div>
    <div class="box">
        <h2>03</h2>
        <h3>Service Three</h3>
        <p>Enhance the overall Operational Efficiency.
        </p>
    </div>
</div>

{% endblock content%}