{% extends 'portal.html'%}
{% load static%}
{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h4>Menu</h4>
        <ul>
            <li><a href="{% url 'admin-dashboard' %}"><i class="fa-solid fa-qrcode"></i>Dashboard</a></li>
            <li><a href="{% url 'ticket-report' %}"><i class="fa-solid fa-pen-to-square"></i>Ticket Report</a></li>
            <li><a href="{% url 'student-report' %}"><i class="fa-solid fa-pen-to-square"></i>Student Report</a></li>
            <li><a href="{% url 'officers-list' %}"><i class="fa-solid fa-pen-to-square"></i>Officer Report</a></li>
            <li><a href="{% url 'admin-change-password' %}"><i class="fa-solid fa-lock"></i>Change Password</a></li>
            <!-- <li><a href="{% url 'create-officer-account' %}"><i class="fa-solid fa-user"></i>Create Officer Account</a></li> -->
        </ul>
    </div>
    <div class="main_content">
        <div class="header">CHANGE PASSWORD</div>
        <form method="POST" class="register-form" id="change_password" action="">
            {% csrf_token %}
            <div class="info">
                <div class="form-group">
                    <label for="pass"><i class="fa-solid fa-lock"></i></label>
                    {{ form.old_password}}
                    <!-- <input type="password" name="pass" id="pass" placeholder="Current Password" /> -->
                </div>
                <div class="form-group">
                    <label for="pass"><i class="fa-solid fa-lock"></i></label>
                    {{ form.new_password1}}
                    <!-- <input type="password" name="pass" id="pass" placeholder=" New Password" /> -->
                </div>
                <div class="form-group">
                    <label for="re-pass"><i class="fa-solid fa-lock"></i></label>
                    {{ form.new_password2 }}
                    <!-- <input type="password" name="re_pass" id="re_pass" placeholder="Repeat new password" /> -->
                </div>

                <div class="form-group form-button">
                    <input type="submit" name="change_password" id="change_password" class="form-submit"
                        value="Change Password" />
                </div>

            </div>
        </form>
    </div>

    {% endblock content %}